{% extends 'base.html' %}

{% block title %}
<title>Add item</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add item</h1>
        <form method="POST">
            <input class="input_holder" type="text" name="title" id="title" placeholder="Input title">
            <input class="input_holder" type="number" name="price" id="price" placeholder="Input price">
            <div class="input_text_title">Input text</div>
            <input class="input_text_holder" type="text" name="text" id="text" placeholder="">
            <button class="btn_input_submit" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}